{# Overridden header to move nav into the top header #}
<header class="md-header">
  <div class="md-header__inner">
    <div class="md-header__brand">
      <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" class="md-logo">
        {% include "partials/logo.html" %}
      </a>
      <h1 class="md-site-name">{{ config.site_name }}</h1>
    </div>
    <div class="md-header__nav">
      {% include "partials/nav.html" %}
    </div>
    <div class="md-header__actions">
      {% include "partials/search.html" %}
      {% include "partials/source.html" %}
    </div>
  </div>
</header>
