/* [data-md-color-scheme="branding"] {
  --md-primary-fg-color:        #B5B5CF;
  --md-secondary-fg-color: #B5AE9B;
} */

.drac-btn, .drac-heading, .drac-input, .drac-select, .drac-text {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

.drac-bg-purple-cyan, .drac-bg-purple-cyan, .drac-bg-purple, .drac-bg-cyan-green, .drac-scrollbar-purple {
    background: #B5B5CF;
}

.drac-bg-black, .drac-bg-black-secondary {
    background: white;
}

a, .drac-text-white, .drac-text-black, .drac-text-purple, .drac-text-cyan, .drac-text-green {
    color: black;
}

code, pre, .drac-code {
    background-color: var(--black);
    color: thistle;
    font-family: Fira Code, monospace;
}

.divider {
    min-width: 4rem !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Playfair', sans-serif;
    color: black;
}
